In [0]:
%sql
use catalog jpm;
create schema if not exists bharat;
use schema bharat;

In [0]:
df=spark.read.csv("/Volumes/jpm/naval/csv/1000_richest_people_in_the_world.csv",header=True,inferSchema=True)

df1=df.withColumnRenamed("Name","name")\
    .withColumnRenamed("Net Worth (in billions)","net_worth_in_BN")


df1.write.mode("overwrite").saveAsTable("jpm.bharat.richest_people")

In [0]:
%sql
select * from jpm.bharat.richest_people