In [0]:
/Workspace/Users/navallyemul@gmail.com/JPM/1000_richest_people_in_the_world.csv

In [0]:
df=spark.read.csv("/Volumes/llm/raw/csv",header=True,inferSchema=True)

#####Transformation

In [0]:
Dataframe functions
select
withColumnRenamed
alias

Functions
col

In [0]:
%sql
-- select c1 as c_1,c2 from table

In [0]:
#df1=df.select("Name")

In [0]:
#df.select("Name".alias("name"))

In [0]:
from pyspark.sql.functions import col

In [0]:
#df.select(col("Name").alias("name")).display()

In [0]:
df1=df.withColumnRenamed("Name","name").withColumnRenamed("Net Worth (in billions)","net_worth_in_billion")

In [0]:
df1.display()

In [0]:
catalog 
databases/schema
tables

In [0]:
%sql
use catalog jpm;
create schema if not exists viraf;
use schema viraf;

In [0]:
df1.write.saveAsTable("jpm.naval.richest_people")

In [0]:
%sql
use catalog jpm;
create schema nargis;

In [0]:
%sql
select * from jpm.naval.richest_people